<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cookie policy</title>
</head>
<body style="background: #808090;">
<div th:replace="~{parts/menu}" > MENU </div>
<div style="display: flex; flex-direction: column">
    <h3>Nie ma ciasteczek</h3>
    <div style="padding: 2%">
        <p>Strona używa jedynie cookies sesyjnych, które są usuwane z pamięci przegladarki po opuszczeniu strony.</p>
        <p>Podstrony projektów mogą korzystać z innych rodzajów plików cookies. Użytkownik zostanie o tym fakcie poinformowany wyraźnym komunikatem.</p>
    </div>
    <div style="padding: 2%">
        <p>Dlaczego tak?</p>
        <p>Mnie samemu skacze ciśnienie jak muszę odklikiwać suwaczki i widzę ilu firmom wysyłane są statystyki mojej wizyty na stronie.</p>
        <p>Reklam też nie będzie. Twoje dane nie są mi potrzebne.</p>
        <p>Serwer i domena same się nie opłacą; prawda. Ale wolę założyć konto w serwisie pozwalającym na "rzucenie grosza" i podlinkować na podstronie projektu niż rzucać w oczy reklamą, której i tak nie obejrzysz.</p>
        <p>Jeśli projekt ma dla Ciebie wartość, a Ty masz luźne drobne to nie pogardzę. Ale nie chcę robić ze swojej strony gazetki reklamowej.</p>
    </div>
</div>
</body>
</html>