<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js" crossorigin="anonymous"></script>
    <script th:src="@{/scripts/myScripts.js}"></script>
    <!--    <script src="https://api.myip.com/" crossorigin="use-credentials"></script>-->
    <link rel="stylesheet" th:href="@{/styles/myStyles.css}" type="text/css" media="all">
    <link href="https://fonts.google.com/specimen/Fira+Sans/about?subset=latin-ext" rel="stylesheet">
</head>
<body>
<nav th:fragment="menu" style="background: #808090; width: 20rem; align-content: center; top: 0; left: 0; bottom: 0; float: left; padding: 2px; height: 100vh">

    <div class="menu-content" style="align-content: center">
        <p style="font-size: xx-large; font-family: 'Fira Sans',serif" class="link-no-decoration">Filip Moszczyński</p>
        <div style="align-content: center">
            <img th:src="@{/img/foto.JPG}" alt="ja" style="height: 10rem; padding: 10% 25%;" />
        </div>
        <ul style="list-style-type: none; text-decoration: none">
            <li><a th:href="@{/home}" th:text="Main" class="a-forced link-no-decoration">Homepage</a></li>
            <li><a th:href="@{/about}" th:text="CV" class="a-forced link-no-decoration">About Me</a></li>
            <li><a th:href="@{/projects}" th:text="Projekty" class="a-forced link-no-decoration">archery calculator</a></li>
            <li><a th:href="@{/cookies}" class="a-forced link-no-decoration">Ciasteczka</a></li>
            <li style="color: #808090"> błogosławieni dociekliwi </li>
            <li style="color: #808090"> ;) </li>
            <li>
                <div style="font-size: smaller; color: #dadada; line-height: 40%">
                    <p>© 2024 Filip Moszczyński</p>
                    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="link-no-decoration"> Some Rights Reserved</a>
                </div>
            </li>
        </ul>
    </div>


</nav>
</body>
</html>